<!-- when confirming we want to update the transaction, we come to this page to edit the transaction -->

<h2 class="edit">Edit Transaction<% @transaction.id %></h2>


<form method="POST" action="/transactions/<%= @transaction.id %>/updated">
  <div class="form-wrapper">

    
    <div class="form-el">
      <label for="amount">Amount:</label>
      <input type="number" name="amount" id="amount" value="<%= @transaction.amount %>"/>
    </div>



    <div class="form-el">
      <label for="date">Date:</label>
      <input type="date" name="date" id="date" value="<%= @transaction.date %>"/>
    </div>



    <div class="form-el">
      <label for="merchant_select">Select Merchant:</label> 
      <select name="merchant_id" id="merchant_select" selected="<%= @transaction.merchant %>">
        <% @merchants.each do |merchant| %>
          <% if merchant.id == @transaction.merchant_id %>
            <option value=<%= merchant.id %> selected><%= merchant.name %></option>
          <% else %>
            <option value=<%= merchant.id %>><%= merchant.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>



    <div class="form-el">
      <label for="tag_select">Select Tag:</label> 
      <select name="tag_id" id="tag_select" selected="<%= @transaction.tag %>">
        <% @tags.each do |tag| %>
          <% if tag.id == @transaction.tag_id %>
            <option value=<%= tag.id %> selected><%= tag.name %></option>
          <% else %>
            <option value=<%= tag.id %>><%= tag.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>




    <div class="form-el">
      <input type="submit" value="Update"/>
    </div>



  </div>
</form> 