<!-- On the main page, if there are any transactions, by clicking 'edit' we come to this page, which just asks if we really want to update the transaction -->

<h2 class='ask-for-update'>Update this transaction?<% @transaction.id %></h2>

<p>Amount: <%= @transaction.amount %></p>
<p>Date: <%= @transaction.date %></p>
<p>Merchant: <%= @transaction.merchant.name %></p>
<p>Tag: <%= @transaction.tag.name %></p>





<form action="/transactions/<%= @transaction.id %>/edit" method="get"><input type="submit" value="Yes"></form> 
<form action="/transactions" method="get"><input type="submit" value="No"></form> 